*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(174, 198, 217);
}

.container-header {
    display: flex;
    font-size: 1.5rem;
    margin: 2rem;
    padding: 1rem;
    gap: 2rem;
    background-color: rgb(49, 178, 192);
}

.container-body {
    display: flex;
    justify-content: center;
    width: 60%;
    margin-bottom: 2rem;
}

.downloadPDF {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
.container-body-cv {    
    width: 100%;
    padding: 1rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



/* =============Personal============== */

.section.personal {
    width: 100%;
    padding: 2rem;
    background: #fff;
    border-radius: 10px;
  }

form {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}
  
form div {
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
}
  
form div label {
    margin-bottom: 5px;
}
  
form div input {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
  
form div input:focus {
    outline: none;
    border-color: #007bff;
}
  

button {
    padding: 8px 12px;
    margin: 0 auto;
    width: 20%;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}


form .submit {
    margin-top: 0.5rem;
    width: 70%;
}
  
button:hover {
    background-color: #0056b3;
}

.submitted-data {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    
}

hr {
    width: 100%;
    border: 1px solid #ddd;
}

.submitted-data p {
    min-width: 10%;
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    margin-right: 1rem;
}

/* =============Summary============== */

.section.summary {
    width: 100%;
    padding: 2rem;
    background: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.summary-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.summary-content p {
    width: 100%;
    display: flex;
    align-items: center;
}

.summary .save-button {
    width: 20%;
}

.summary .edit-button {
    width: 20%;
}


.summary textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 1rem;
}
    
  .summary textarea:focus {
    outline: none;
    border-color: #007bff;
  }

  /* =============Skills============== */
  
.technical-skills {
    width: 100%;
    padding: 2rem;
    background: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.skill-content {
    width: 100%;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.skill-content input {
    padding: 8px;
    border: 1px solid black;
    border-radius: 5px;
}

.skills-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
}

.skills-content div {
    display: flex;
    gap: 1rem;
}

/* =============Experience============== */

.experience {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.experience-form {
    margin: 0;
    padding: 15px;
    border: 1px solid #eee;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.experience-form input {
    padding: 8px;
    margin: 5px 0;
}

.achievement-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.remove-achievement {
    cursor: pointer;
    color: red;
    font-size: 20px;
    font-weight: bold;
}

.add-experience-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 1rem 0;
    margin-right: 1rem;
}

.add-achievement {
    width: fit-content;
    padding: 5px 10px;
    background-color: #2196F3;
    color: white;
    border: none;
    cursor: pointer;
}

.delete-experience {
    background-color: #f44336;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.submit-button, .edit-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

.experience-item {
    padding: 15px;
    border-radius: 5px;
}

.experience-item-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.experience-item-content div {
    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: center;
}

.present-checkbox {
    margin: 10px 0;
}

/* =============Projects============== */

.projects {
    width: 100%;
    padding: 2rem;
    background: #fff;
}

.editpro-mode {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: start;
    justify-content: start;
}

.project-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.project-form input {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;

}

.project-form textarea {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    height: 100px;
}

.project-form textarea:focus {
    outline: none;
    border-color: #007bff;
}

.delete-project {
    background-color: #f44336;
    width: fit-content;
}

.add-project-button {
    background-color: #4CAF50;
    margin-top: 1rem;
}

.displayproject-mode {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.project-item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.project-item-content {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.project-item-content h4 {
    font-size: 1rem;
}

.project-item-content p {
    font-size: 0.8rem;
}

.project-item-content a {
    font-size: 1rem;
    text-decoration: none;
    color: #007bff;
}


@media print {
    .downloadPDF {
      display: none;
    }
    .container-header {
      display: none; 
    }

    .container {
        padding: 0;
    }
    .container-body {
        margin: 0;
    }
    .edit-button {
        display: none;
    }
      
}
